:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex ;
  place-items: center;
  min-width: 320px;
  background-color:#242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: 0.25s;
}
button:hover {
  border-color: #6c757d;
  box-shadow: 0px 0px 6px 1px;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled{
  cursor:not-allowed;
  box-shadow: 0px 0px 0px 0px;
  border: 0;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213747;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

div{
  color: #ffffff;
}

.description{
  color:#f9f9f9;
}

select{
  display: flex;
  padding: 0.6em 1.2em;
  border-color: #1a1a1a;
  font-size: 1rem;
  color: #ffffff;
  background-color: #1a1a1a;
  border-radius: 8px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 0.25s;
}
select:hover{
  border-color: #6c757d;
  box-shadow: 0px 0px 6px 1px;
}

.input-text{
  display: block;
  padding: 0.4em 1.2em;
  border-color: #1a1a1a;
  font-size: 1rem;
  color: #ffffff;
  background-color: #1a1a1a;
  border-radius: 8px;
  transition: 0.25s;
}
.input-text:hover{
  border-color: #6c757d;
  box-shadow: 0px 0px 6px 1px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #1a1a1a inset !important;
}

.input-date{
  display: block;
  padding: 0.4em 1.2em;
  border-color: #1a1a1a;
  font-size: 1rem;
  color: #ffffff;
  background-color: #1a1a1a;
  border-radius: 8px;
  transition: 0.25s;
  margin: auto;
}

.room-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

.room-card {
  border-radius: 10px;
  overflow: hidden;
  background: #1a1a1a;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.room-card:hover {
  transform: scale(1.10);
  box-shadow: 0px 0px 10px 1px #000000;
}

.room-photo {
  width: 100%;
  height: 160px;
  object-fit: cover;
  transform: scale(1.2);
  padding-bottom: 10px;
  transition: 0.2s;
}

.room-info {
  padding: 15px;
}

.room-info h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.room-info p {
  margin: 5px 0;
  font-size: 14px;
}

.room-card:hover .room-photo {
  padding-bottom: 0px;
  transform: scale(1);
}

.booking-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.booking-item{
  margin: 10px;
  border-radius: 15px;
  padding: 15px;
  background-color: #1a1a1a;
  transition: 0.25s ;
}

.booking-item:hover{
  box-shadow: 0px 0px 10px 1px #000000;
  transform: scale(1.05);
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #1a1a1a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #1a1a1a;
  cursor: not-allowed;
  visibility: hidden;
}

.navbar {
  position: fixed; /* Фиксируем навбар в верхней части экрана */
  top: 0;
  left: 0;
  width: 100%; /* Ширина на всю страницу */
  z-index: 1000; /* Чтобы он был поверх других элементов */
  background-color: #1a1a1a; /* Установите нужный цвет фона */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень для выделения */
  margin-bottom: 0; /* Убираем отступ снизу */
}

.navbar-nav .nav-link {
  margin-right: 15px;
  color:#ffffff /* Расстояние между элементами */
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  margin-right: 15px;
  color:#fff;
}
.nav-link:hover {
  color: gray; /* Цвет текста при наведении */
  cursor: pointer;
}

.navbar-brand{
  color: #fff;
}
.navbar-brand.show{
  color: #fff;
}
.navbar-brand:hover{
  color: #fff;
  cursor:default;
}

.dropdown-menu{
  background-color:#1a1a1a;
}

.dropdown-divider{
  background-color:gray;
}

.description{
  text-align: left;
}

.room-class{
  margin-top: 0;
  padding: 25px;
  border-radius: 25px;
  background-color: #1a1a1a;
  transition: 1.25s;
}